In [1]:
import pandas as pd 
import numpy as np
from scipy.stats import gmean
import itertools
import math
from process_collisions_summary import *

Raw data has 17009 samples
N=2^16 has 2859 samples
---------> 279 samples, nwords=2^4, diff=7
---------> 318 samples, nwords=2^5, diff=6
---------> 336 samples, nwords=2^6, diff=6
---------> 376 samples, nwords=2^7, diff=5
---------> 380 samples, nwords=2^8, diff=5
---------> 378 samples, nwords=2^9, diff=4
---------> 391 samples, nwords=2^10, diff=4
---------> 401 samples, nwords=2^11, diff=3
N=2^18 has 4989 samples
---------> 414 samples, nwords=2^4, diff=8
---------> 492 samples, nwords=2^5, diff=7
---------> 498 samples, nwords=2^6, diff=7
---------> 613 samples, nwords=2^7, diff=6
---------> 580 samples, nwords=2^8, diff=6
---------> 583 samples, nwords=2^9, diff=5
---------> 602 samples, nwords=2^10, diff=5
---------> 630 samples, nwords=2^11, diff=4
---------> 577 samples, nwords=2^12, diff=4
N=2^20 has 5826 samples
---------> 213 samples, nwords=2^4, diff=9
---------> 392 samples, nwords=2^5, diff=8
---------> 393 samples, nwords=2^6, diff=8
---------> 519 samples, nwords=2^7, diff=7
---------> 531 samples, nwords=2^8, diff=7
---------> 722 samples, nwords=2^9, diff=6
---------> 702 samples, nwords=2^10, diff=6
---------> 762 samples, nwords=2^11, diff=5
---------> 811 samples, nwords=2^12, diff=5
---------> 781 samples, nwords=2^13, diff=4
N=2^22 has 2457 samples
---------> 21 samples, nwords=2^4, diff=10
---------> 48 samples, nwords=2^5, diff=9
---------> 34 samples, nwords=2^6, diff=9
---------> 108 samples, nwords=2^7, diff=8
---------> 76 samples, nwords=2^8, diff=8
---------> 207 samples, nwords=2^9, diff=7
---------> 273 samples, nwords=2^10, diff=7
---------> 351 samples, nwords=2^11, diff=6
---------> 426 samples, nwords=2^12, diff=6
---------> 419 samples, nwords=2^13, diff=5
---------> 494 samples, nwords=2^14, diff=5
N=2^24 has 878 samples
---------> 2 samples, nwords=2^4, diff=11
---------> 2 samples, nwords=2^5, diff=10
---------> 3 samples, nwords=2^6, diff=10
---------> 6 samples, nwords=2^7, diff=9
---------> 15 samples, nwords=2^8, diff=9
---------> 15 samples, nwords=2^9, diff=8
---------> 36 samples, nwords=2^10, diff=8
---------> 65 samples, nwords=2^11, diff=7
---------> 104 samples, nwords=2^12, diff=7
---------> 177 samples, nwords=2^13, diff=6
---------> 173 samples, nwords=2^14, diff=6
---------> 280 samples, nwords=2^15, diff=5

___

# Simulations Summary
**Please note that for some sizes the number of experiments is small**

In [2]:
nsamples_df = pd.DataFrame(nsamples).set_index("nwords").transpose()
print(f"number of samples processed = {nsamples_df.sum().sum()}")
nsamples_df = nsamples_df.rename_axis("nwords").rename_axis("N")


nsamples_df = nsamples_df.style.set_caption("Number of Samples Collected")
nsamples_df

number of samples processed = 16999

In [3]:
factor_n3w_df = pd.DataFrame(factor_n3w).set_index("nwords").transpose()
factor_n3w_df = factor_n3w_df.rename_axis("nwords").rename_axis("N")
factor_n3w_df = factor_n3w_df.style.set_caption("factor of sqrt(N^3/nwords)")
factor_n3w_df

In [4]:
nfunction_updates_df = pd.DataFrame(nfunction_updates).set_index("nwords").transpose()
nfunction_updates_df = nfunction_updates_df.rename_axis("nwords").rename_axis("N")
nfunction_updates_df = nfunction_updates_df.style.set_caption("Number of Function Updates")
nfunction_updates_df

In [5]:
avgs_df = pd.DataFrame(avgs).set_index("nwords").transpose()
avgs_df = avgs_df.rename_axis("nwords").rename_axis("N")
avgs_df = avgs_df.style.set_caption("Geometric Mean of #points generated")
avgs_df

In [6]:
stds_df = pd.DataFrame(stds)
stds_df = stds_df.set_index("nwords")
stds_df = stds_df.transpose()
stds_df = stds_df.rename_axis("nwords").rename_axis("N")
stds_df = stds_df.style.set_caption("standard variation of log2(#points)")
stds_df